.project {
    min-width: 200px;
    max-width: 300px;
    height: 100%;

    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon {
    border: 1px solid rgb(187, 241, 218);
    padding: 2px;

    width: 80px;
    height: 80px;

    overflow: hidden;

    display: block;

    margin: 0 10px 10px 0;

    display: inline-block;

    font-size: 10px;
}

.title {
    font-size: 22px;
    font-weight: 600;

    flex: 0 1;
}

.description, .tags {
    flex: 0 1 100%;
}

.description {
    margin-bottom: 20px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* Prevents tags from stretching */
    align-items: flex-start;
}

.tag {
    background: #bbf1da;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}